.main_section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
h1, h2 {
    text-align: center;
}

.banner {
    background-color: #fefefe;
    height: 20vh;
    padding-top: 2rem;
}
/* =================== Navbar ================ */
.navbar{
    height:60px;
    width:100vw;
    position:fixed;
}
.navbar_left{
    margin-left: 100px;
}
.navbar_right{
    margin-right: 100px;
}
.navbar-brand{
    font-size: 30px !important;
    font-weight: bold !important;
    letter-spacing: 5px
}
.nav_text{
    color: #fff !important;
}

/* =================== Hero ================ */
.hero:before {
    padding: 0;
    position:  absolute;
    content: "";
    display: block;
    background: no-repeat center/cover url("/static/image/rawpixel-com-250087.jpg");
    filter: brightness(0.5);
    /*filter: blur(5px);*/
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.hero .container {
    margin-top: 35vh;
}
.hero h1, .hero h2 {
    color: #eee;
}
.btn {
    width: 80%;
    margin: auto;
}

/* =================== Login ================ */
.login .container {
    margin-top: 20vh;
}
.fb-login-container {
    display: flex;
    justify-content: center;
}
.login-spinner, .login-continue {
    width: 100%;
}
.login-continue {
    display: none;
    margin: auto
}

.continue-btn {
    margin: auto
}

/* =================== Showcase ================ */
.showcase:before {
    padding: 0;
    position:  absolute;
    content: "";
    display: block;
    background: no-repeat center/cover url("/static/image/reza-shayestehpour-14231.jpg");
    filter: brightness(0.5);
    /*filter: blur(5px);*/
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.showcase .banner {
}
.showcase h2 {
    text-align: end;
}

/* =================== exchange ================ */
.exchange:before {
    padding: 0;
    position:  absolute;
    content: "";
    display: block;
    background: no-repeat center/cover url("/static/image/stefan-stefancik-257625.jpg");
    filter: brightness(0.5);
    /*filter: blur(5px);*/
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.exchange .banner {
    margin-top: 80vh;
}
.exchange h2 {
    text-align: start;
}


/* =================== Team ================ */
.team .person {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 30vh;
}
.person figure, .person h4, .person p {
    margin: 0.25em auto;
}
.avatar-xxl {
    height: 6rem;
    width: 6rem;
}


/* =================== Team ================ */
footer {
    height: 30vh;
    background-color: #333;
    color: #fefefe;
    padding-top: 3em;
}
