.main_section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
h1, h2 {
    text-align: center;
}

.banner {
    /*background-color: #fefefe;*/
    /*height: 20vh;*/
    padding-top: 2rem;
}
/* =================== Navbar ================ */
.navbar{
    height:60px;
    width:100vw;
    position:fixed;
    z-index: 1000;
}
.navbar_left{
    margin-left: 100px;
}
.navbar_right{
    margin-right: 100px;
}
.navbar-brand{
    font-size: 30px !important;
    font-weight: bold !important;
    letter-spacing: 5px
}
.nav_text{
    color: #fff !important;
}
.nav_link_text:hover,
.nav_link_text .black_text:hover{
    opacity: 0.5;
}
.black_text{
    color: #000 !important;
}

/* =================== Hero ================ */
.hero:before {
    padding: 0;
    position:  absolute;
    content: "";
    display: block;
    background: no-repeat center/cover url("/static/image/rawpixel-com-250087.jpg");
    filter: brightness(0.5);
    /*filter: blur(5px);*/
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.hero .container {
    margin-top: 35vh;
}
.hero h1, .hero h2 {
    color: #eee;
}
.btn {
    width: 80%;
    margin: auto;
}

/* =================== Login ================ */
.login .container {
    margin-top: 20vh;
}
.fb-login-container {
    display: flex;
    justify-content: center;
}
.login-spinner, .login-continue {
    width: 100%;
}
.login-continue {
    display: none;
    margin: auto
}

.continue-btn {
    margin: auto
}
.continue_button{
    background-color:transparent !important;
    border: 1px solid #fff !important;
    border-radius: 30px;
    font-weight: 200;
    color:#fff;
}
.continue_button:hover{
    background-color:#fff !important;
    color:#000 !important;
}

/* =================== Showcase ================ */
.showcase:before {
    padding: 0;
    position:  absolute;
    content: "";
    display: block;
    background: no-repeat center/cover url("/static/image/reza-shayestehpour-14231.jpg");
    filter: brightness(0.5);
    /*filter: blur(5px);*/
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.showcase .banner {
    padding-top: 0rem;
    height: 100vh;
}
.showcase .inner_banner{
    padding-top: 10rem;
    background-color: #fefefe;
}
.showcase h2 {
    /*text-align: end;*/
}
.showcase ul {
    margin-left: 60px;
    margin-right: 30px;
    line-height: 30px;
}

/* =================== exchange ================ */
.exchange:before {
    padding: 0;
    position:  absolute;
    content: "";
    display: block;
    background: no-repeat center/cover url("/static/image/stefan-stefancik-257625.jpg");
    filter: brightness(0.5);
    /*filter: blur(5px);*/
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.exchange .banner {
    /*margin-top: 80vh;*/
    padding-top: 0rem;
    height: 100vh;
}
.exchange .inner_banner{
    padding-top: 10rem;
    background-color: #fefefe;
}
.exchange h2 {
    /*text-align: start;*/
}
.exchange ul {
    margin-left: 30px;
    margin-right: 60px;
    line-height: 30px;
}

/* =================== Team ================ */
.team .person {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 30vh;
}
.person figure, .person h4, .person p {
    margin: 0.25em auto;
}
.avatar-xxl {
    height: 6rem;
    width: 6rem;
}
.team .banner {
    margin-top: 6em;
}


/* =================== Team ================ */
footer {
    height: 30vh;
    background-color: #333;
    color: #fefefe;
    padding-top: 3em;
}
.footer_text{
    color: #fefefe !important;
    text-decoration: none;
}
.footer_title{
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #fefefe;
}
