* {
    box-sizing: border-box;
}

.not-found:before {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    background: no-repeat center/cover url("https://static.pexels.com/photos/60013/desert-drought-dehydrated-clay-soil-60013.jpeg");
    filter: blur(5px);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.not-found {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.not-found .empty {
    color: #fefefe;
    background-color: unset;
    /* background-color: rgba(1,1,1,0.5); */
}

/* ================== Nav ================ */
.sidebar {
    height: 100vh;
}
.sidebar ul {
    min-width: 0;
}
.sidebar .toplevel{
    font-weight: bold;
}
#sidebar_brand_text{
    font-size: 30px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    color: #fff;
}
#sidebar_brand_text:hover,
#sidebar_brand_text:focus{
    background-color: transparent !important;
}
.logo_image{
    width: 120px;
    display: block;
    /* margin: 0px auto; */
    /* margin-left: 40%; */
}
#logo_image_div{
    position:fixed;
    bottom:30px;
    left: 4%;
}

/* ================== Main ================ */
main {
    height: 100vh;
}
.exchange-main {
    padding: 1.5rem;
}
.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right_main_section{
    height: 100vh;
    overflow-y: scroll;
}

.avatar-xxl {
    height: 6rem;
    width: 6rem;
}
.account {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree {
    overflow: hidden;
}
.tree-nav {
    width: 100%;
    padding: 0.5rem;
    background-color: #fefefe;
}



/* ================== new tree ================ */
.card-image svg{
    /*margin-left: -50%;*/
    width: 80%;

    display: block;
    margin: 0px auto;
    margin-top: 60px;
    margin-bottom: 60px;
}


/* ================== tree ================ */
#main_tree{
    overflow: scroll;
}
#main_tree svg{
    width: 60vw;
    display: block;
    margin: 0px auto;
}
.learned_skill{
    fill: #f8b245 !important;
}
circle{
    cursor: pointer;
}


/* ================== exchange ================ */
.liked_tree{
    color: #ed5c58;
}
.unliked_tree{
    color: #878787;
}
.like_icon{
    cursor: pointer;
}
.exchange_button{
    width: 100px;
    margin-top: -15px;
    border: 1px solid #5755d9 !important;
    border-radius: 30px;
}
.exchange_button:hover{
    color: #fff !important;
    background-color: #5755d9;
}
.card-image{
    cursor:pointer;
}
.modal-container .modal-body{
    max-height: 80vh !important;
}

/* ================== new exchange ================ */
#exchange_step{
    padding: 1.5rem;
}
.each_exchange_step{
    height: 85vh;
    overflow-y: scroll;
}
#step2 svg, #step3 svg{
    width: 50%;
    display: block;
    margin: 0px auto;
}
svg circle:hover,
svg circle:focus{
    stroke: #5a5a5a;
}
.step_title{
    text-align: left;
}
.step_subtitle{
    text-align: left;
    color: #acb3c2;
}
.selected_skill{
    stroke: #5a5a5a;
}
