<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body class="not-found">
        <div class="empty">
            <p class="empty-title h5">
                SkillTree
            </p>
            <p class="empty-subtitle h5">
                Hmm, thats embarassing
            </p>
            <div class="empty-action">
                <a href="/landing">
                    <button class="btn btn-primary">Take me back!</button>
                </a>
            </div>
        </div>
    </body>
</html>
