<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                {{ if not .Items }}
                <main class="column col-10 col-gapless empty">
                    <p class="empty-title h5">
                        Hmm, we can't find any trees
                    </p>
                    <p class="empty-subtitle">
                        Maybe check back later?
                    </p>
                </main>
                {{ else }}
                <main class="column col-10 col-gapless exchange-main right_main_section">
                    <div class="container">
                        <!-- <div class="columns"> -->
                        <!--     <div class="column col-12"> -->
                        <!--         <input class="form-input" type="text" id="input-example-1" placeholder="Name"> -->
                        <!--     </div> -->
                        <!-- </div> -->
                        <div class="columns">
                            {{ range $idx, $it := .Items }}

<div class="card column col-3">
    <div class="card-image">
        {{ $it.TreeData.Svg }}
        <!-- {{ $it.TreeData.State }} -->
    </div>
    <div class="card-header">
        <!-- show somw image -->
        {{ $it.Likes }}

<!-- async to /exchange/like/{{ $it.User }}/{{ $it.TreeData.Treeid }}/1/ -->
        {{ if $it.Liked }}
        <i class="fa fa-heart liked_tree like_icon" aria-hidden="true"></i>
        <!-- <button class="btn float-right">Like</button> -->
        {{ else }}

        <i class="fa fa-heart-o unliked_tree like_icon" aria-hidden="true"></i>
        <!-- <button class="btn float-right">Like</button> -->
        {{ end }}
<!-- redirect to /exchange/new/{{ $it.User }}/{{ $it.TreeData.Treeid }}/ -->
        <button class="btn btn-link float-right">Exchange</button>
        <div class="card-title h5">
        {{ if $.Page.En }}{{ $it.TreeData.Name }}{{ else }}{{ $it.TreeData.Cname }}{{ end }}
        </div>
        <div class="card-subtitle text-gray">{{ $it.Name }}</div>
    </div>
</div>

                            {{ end }}
                        </div>
                    </div>
                </main>
                {{ end }}
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>

<script>

    $(document).ready(function(){
        // setup_tree();
        setup_like();
    });

    function setup_tree(skill_tree){
        {{ range $idx, $it := .Items }}
        set_node({{ $it.TreeData.State }},{{ $it.User }});
        {{ end }}
    }
    function set_node(skill_tree,user){
        for (var skill_id in skill_tree) {
            $("#"+skill_id+" text").text("");

            // Add text
            {{ if $.En }}
            $("#"+skill_id+" text").text(skill_id);
            {{else}}
            $("#"+skill_id+" text").text(skill_tree[skill_id]["CName"]);
            {{end}}

            // Add learned skills
            if (skill_tree[skill_id]["status"] == 1) {
                $("#"+skill_id+"_circle").addClass("learned_skill");
            }
        }
    }

    function setup_like(){
        alert("like");
        $(".like_icon").on("click",function(){
            alert("yes");
            alert($(this).attr("class"));
            if ($(this).hasClass("liked_tree")) {
                $(this).removeClass("liked_tree");
                $(this).addClass("unliked_tree");

                $(this).removeClass("fa-heart");
                $(this).addClass("fa-heart-o");
            }
            else{
                $(this).removeClass("unliked_tree");
                $(this).addClass("liked_tree");

                $(this).removeClass("fa-heart-o");
                $(this).addClass("fa-heart");
            }
        });
    }

    function send_json(skill_tree) {

        // send json back to db and reload
        fetch('/tree/update/'+{{ .TreeData.Treeid }}+'/', {
            method : 'post',
            headers : {
                'Accept' : 'application/json, text/plain, */*',
                'Content-Type' : 'application/json'
            },
            credentials : "include",
            body : JSON.stringify(skill_tree)
        }).then(function(){
            location.reload();
        })
    }


    function confirm_delete(){
        {{ if $.En }}
        var cancel = confirm("Are you sure to delete yout skill tree?");

        {{else}}
        var cancel = confirm("你確定要刪除整棵樹？");

        {{end}}

        if(cancel){
            for (var skill_id in skill_tree) {

                // Delete learned skills
                skill_tree[skill_id]["status"] == 0;
            }
            send_json_to_db(skill_tree);
        }
        return cancel;
    }
</script>
