<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                <main class="column col-10 col-gapless exchange-main right_main_section">
{{/*
	<!-- Requests -->
        <!-- {{ range $idx, $r := .ExchangeList.Requests }} -->
        <!-- requests you (U1) have sent to other people(U2): -->
        <!-- cancel: /exchange/delete/{{ $it.Id }}/ -->
*/}}

                    <div class="accordion">
                        <input type="checkbox" id="table-1" name="accordion-checkbox" hidden {{ if .ExchangeList.Requests }}checked{{ end }}>
                        <label class="accordion-header c-hand" for="table-1">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>Requests</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>寄出的邀請</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table id="table-requests" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                        <td>cancel</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Requests }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                                <div style="text-align:center; margin-top:30px;" >
                                                    <a href="/tree/" class="btn btn-link statuspage_tree_button" style="margin-right:20px">
                                                        {{ if $.En }}Check My Trees{{ else }}查看我的樹{{end}}
                                                    </a>
                                                    <a href="/exchange/browse/" class="btn btn-link statuspage_skill_button" style="margin-left:20px">
                                                        {{ if $.En }}Hunt for New Skills{{ else }}搜尋新技能{{end}}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Requests }}
<tr>
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
    <!-- cancel -->
    <td class="delete_exchange_button" data-delete_id="{{ $r.Id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

{{/*
	<!-- Pending  -->
        <!-- {{ range $idx, $it := range .ExchangeList.Pending }} -->
        <!-- requests other people (U2) have sent you (U1) -->
        <!-- accept: /exchange/accept/{{ $it.Id }}/ -->
        <!-- reject: /exchange/delete/{{ $it.Id }}/ -->
*/}}
                    <div class="accordion">
                        <input type="checkbox" id="table-2" name="accordion-checkbox" hidden {{ if .ExchangeList.Pending }}checked{{ end }}>
                        <label class="accordion-header c-hand" for="table-2">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>Pending</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>收到的邀請</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table id="table-pending" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                        <td>accept</td>
                                        <td>reject</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Pending }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                                <div style="text-align:center; margin-top:30px;" >
                                                    <a href="/tree/" class="btn btn-link statuspage_tree_button" style="margin-right:20px">
                                                        {{ if $.En }}Check My Trees{{ else }}查看我的樹{{end}}
                                                    </a>
                                                    <a href="/exchange/browse/" class="btn btn-link statuspage_skill_button" style="margin-left:20px">
                                                        {{ if $.En }}Hunt for New Skills{{ else }}搜尋新技能{{end}}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Pending }}
<tr>
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
    <!-- accept -->
    <td class="accept_exchange_button" data-accept_id="{{ $r.Id }}"><i class="fa fa-check" aria-hidden="true"></i></td>
    <!-- reject -->
    <td class="delete_exchange_button" data-delete_id="{{ $r.Id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

{{/*
	<!-- Inprogress-->
        <!-- {{ range $idx, $it := range .ExchangeList.Inprogress }} -->
        <!-- exchanges in progress between you (U1) and another person (U2) -->
        <!-- mark other person done: /exchange/done/{{ $it.Id }}/ -->
        <!-- reject: /exchange/delete/{{ $it.Id }}/ -->
*/}}
                    <div id="inprogress_section" class="accordion">
                        <input type="checkbox" id="table-3" name="accordion-checkbox" hidden {{ if .ExchangeList.Inprogress }}checked{{ end }}>
                        <label class="accordion-header c-hand" for="table-3">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>Inprogress</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>交換進行中</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table  id="table-inprogress" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                        <td>done</td>
                                        <td>reject</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Inprogress }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                                <div style="text-align:center; margin-top:30px;" >
                                                    <a href="/tree/" class="btn btn-link statuspage_tree_button" style="margin-right:20px">
                                                        {{ if $.En }}Check My Trees{{ else }}查看我的樹{{end}}
                                                    </a>
                                                    <a href="/exchange/browse/" class="btn btn-link statuspage_skill_button" style="margin-left:20px">
                                                        {{ if $.En }}Hunt for New Skills{{ else }}搜尋新技能{{end}}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Inprogress }}
<tr class="inprogress_tr">
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
    <!-- done -->
    <td class="done_exchange_button" data-done_id="{{ $r.Id }}"><i class="fa fa-check" aria-hidden="true"></i></td>
    <!-- reject -->
    <td class="delete_exchange_button" data-delete_id="{{ $r.Id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
    <td>

    </td>
</tr>
<tr class="message_td">
    <td colspan="8">
        <!-- normal input group with button -->
        <div class="input-group">
            <input type="text" class="form-input" placeholder={{ if $.En }}"Type some message!"{{ else }}"寫些東西吧！"{{end}}>
            <button class="btn btn-primary input-group-btn submit_button" data-id={{$r.Id}}>Submit</button>
        </div>
    </td>
    <td>
        <table  id="table-inprogress" class="table">
                    {{ range $idx, $m := $r.Messages }}
                        {{if $m.SenderIsMe}}
            <tr><td colspan="3" class="my_message message_text">{{ $m.Text }}</td></tr>
                        {{else}}
            <tr><td colspan="3" class="recieved_message message_text">{{ $m.Text }}</td></tr>
                        {{end}}
                    {{ end }}
        </table>
    </td>

</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

{{/*
	<!-- Complete-->
        <!-- {{ range $idx, $it := range .ExchangeList.Complete }} -->
        <!-- Exchanges that have been completed between you (U1) and other person (U2) -->
*/}}
                    <div class="accordion">
                        <input type="checkbox" id="table-4" name="accordion-checkbox" hidden {{ if .ExchangeList.Complete }}checked{{ end }}>
                        <label class="accordion-header c-hand" for="table-4">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>Complete</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1 title_icon"></i>已完成的交換</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table id="table-complete" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Complete }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                                <div style="text-align:center; margin-top:30px;" >
                                                    <a href="/tree/" class="btn btn-link statuspage_tree_button" style="margin-right:20px">
                                                        {{ if $.En }}Check My Trees{{ else }}查看我的樹{{end}}
                                                    </a>
                                                    <a href="/exchange/browse/" class="btn btn-link statuspage_skill_button" style="margin-left:20px">
                                                        {{ if $.En }}Hunt for New Skills{{ else }}搜尋新技能{{end}}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Complete }}
<tr>
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>
<script>

    $(document).ready(function(){
        set_cancel_exchange();
        set_accept_exchange();
        set_done_exchange();
        set_submit_message();
    });

    function set_cancel_exchange() {
        $(".delete_exchange_button").on("click",function(){
            var delete_id = $(this).attr("data-delete_id");
            fetch('/exchange/delete/'+delete_id+'/', {
                method : 'get',
                credentials : "include"
            });
            $(this).parent().empty();
        });
    }
    function set_accept_exchange() {
        $(".accept_exchange_button").on("click",function(){
            var accept_id = $(this).attr("data-accept_id");
            fetch('/exchange/accept/'+accept_id+'/', {
                method : 'get',
                credentials : "include"
            });

            {{ if not .ExchangeList.Inprogress }}
            $("#table-inprogress tbody").empty();
            {{end}}

            $("#table-inprogress tbody").append("<tr>"+$(this).parent().html()+"</tr>");
            $(this).parent().empty();
        });
    }
    function set_done_exchange() {
        $(".done_exchange_button").on("click",function(){
            var done_id = $(this).attr("data-done_id");
            console.log(done_id);
            fetch('/exchange/done/'+done_id+'/', {
                method : 'get',
                credentials : "include"
            });

            {{ if not .ExchangeList.Complete }}
            $("#table-complete tbody").empty();
            {{end}}

            // $(this).siblings(".delete_exchange_button").detach();
            $("#table-complete tbody").append("<tr>");
            for (var i = 0; i < 6; i++) {
                $("#table-complete tbody").append("<td>"+$(this).siblings().eq(i).html()+"</td>");
            }
            $("#table-complete tbody").append("</tr>");

            $(this).parent().empty();
        });
    }
    function set_submit_message() {
        $(".submit_button").on("click",function(){

            var message = $(this).siblings("input").val();
            fetch('/exchange/message/'+$(this).attr("data-id")+'/?' + $.param({m: message}), {
                method : 'get',
                credentials : 'include'
            });
        });
    }

</script>
