<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" "exchange" }}
                <main class="column col-10 col-gapless empty">
                    <p class="empty-title h5">
                        Hmm, we can't find any trees
                    </p>
                    <p class="empty-subtitle">
                        Maybe check back later?
                    </p>
                </main>
            </div>
        </div>
    </body>
</html>
