<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                <main class="column col-10 col-gapless exchange-main right_main_section">
{{/*
	<!-- Requests -->
        <!-- {{ range $idx, $r := .ExchangeList.Requests }} -->
        <!-- requests you (U1) have sent to other people(U2): -->
        <!-- cancel: /exchange/delete/{{ $it.Id }}/ -->
*/}}

                    <div class="accordion">
                        <input type="checkbox" id="table-1" name="accordion-checkbox" hidden checked>
                        <label class="accordion-header c-hand" for="table-1">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>Requests</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>寄出的邀請</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table id="table-requests" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                        <td>cancel</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Requests }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Requests }}
<tr>
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
    <td class="delete_exchange_button" data-delete_id="{{ $r.Id }}">Cancel</td>
</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

{{/*
	<!-- Pending  -->
        <!-- {{ range $idx, $it := range .ExchangeList.Pending }} -->
        <!-- requests other people (U2) have sent you (U1) -->
        <!-- accept: /exchange/accept/{{ $it.Id }}/ -->
        <!-- reject: /exchange/delete/{{ $it.Id }}/ -->
*/}}
                    <div class="accordion">
                        <input type="checkbox" id="table-2" name="accordion-checkbox" hidden>
                        <label class="accordion-header c-hand" for="table-2">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>Pending</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>收到的邀請</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table id="table-pending" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                        <td>accept</td>
                                        <td>reject</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Pending }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Pending }}
<tr>
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
    <td class="accept_exchange_button" data-accept_id="{{ $r.Id }}">Accept</td>
    <td class="delete_exchange_button" data-delete_id="{{ $r.Id }}">Reject</td>
</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

{{/*
	<!-- Inprogress-->
        <!-- {{ range $idx, $it := range .ExchangeList.Inprogress }} -->
        <!-- exchanges in progress between you (U1) and another person (U2) -->
        <!-- mark other person done: /exchange/done/{{ $it.Id }}/ -->
        <!-- reject: /exchange/delete/{{ $it.Id }}/ -->
*/}}
                    <div class="accordion">
                        <input type="checkbox" id="table-3" name="accordion-checkbox" hidden>
                        <label class="accordion-header c-hand" for="table-3">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>Inprogress</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>交換進行中</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table  id="table-inprogress" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                        <td>done</td>
                                        <td>reject</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Inprogress }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Inprogress }}
<tr>
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
    <td class="done_exchange_button" data-done_id="{{ $r.Id }}">Done</td>
    <td class="delete_exchange_button" data-delete_id="{{ $r.Id }}">Reject</td>
</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

{{/*
	<!-- Complete-->
        <!-- {{ range $idx, $it := range .ExchangeList.Complete }} -->
        <!-- Exchanges that have been completed between you (U1) and other person (U2) -->
*/}}
                    <div class="accordion">
                        <input type="checkbox" id="table-4" name="accordion-checkbox" hidden>
                        <label class="accordion-header c-hand" for="table-4">
                            {{ if .Page.En }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>Complete</h2>
                            {{ else }}
                            <h2><i class="icon icon-arrow-right mr-1"></i>已完成的交換</h2>
                            {{ end }}
                        </label>
                        <div class="accordion-body">
                            <table id="table-complete" class="table">
                                <thead>
                                    <tr>
                                        <td>Me</td>
                                        <td>MyTree</td>
                                        <td>MySkill</td>
                                        <td>target</td>
                                        <td>targetTree</td>
                                        <td>targetSkill</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ if not .ExchangeList.Complete }}
                                    <tr>
                                        <td colspan="10">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    {{ range $idx, $r := .ExchangeList.Complete }}
<tr>
    <td>{{ $r.U1.Name }}</td>
    <td>{{ $r.U1.Tree }}</td>
    <td>{{ $r.U1.Skill }}</td>
    <td>{{ $r.U2.Name }}</td>
    <td>{{ $r.U2.Tree }}</td>
    <td>{{ $r.U2.Skill }}</td>
</tr>
                                    {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </main>
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>
<script>

    $(document).ready(function(){
        set_cancel_exchange();
        set_accept_exchange();
        set_done_exchange();
    });

    function set_cancel_exchange() {
        $(".delete_exchange_button").on("click",function(){
            var delete_id = $(this).attr("data-delete_id");
            fetch('/exchange/delete/'+delete_id+'/', {
                method : 'get',
                credentials : "include"
            });

            $(this).parent().empty();
        });
    }
    function set_accept_exchange() {
        $(".accept_exchange_button").on("click",function(){
            var accept_id = $(this).attr("data-accept_id");
            fetch('/exchange/accept/'+accept_id+'/', {
                method : 'get',
                credentials : "include"
            });
        });
        $("#table-inprogress tbody").append($(this).parent().html());
        $(this).parent().empty();
    }
    function set_done_exchange() {
        $(".done_exchange_button").on("click",function(){
            var done_id = $(this).attr("data-done_id");
            fetch('/exchange/done/'+done_id+'/', {
                method : 'get',
                credentials : "include"
            });
        });

        $("#table-complete tbody").append($(this).parent().html());
        $(this).parent().empty();
    }

</script>
