<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
    	<div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                <main class="column col-10 col-gapless">
                	<div style="height:15vh;">
                		<ul class="step" style="padding-top:40px">
							<li class="step-item active">
							    <a href="#step1" class="tooltip" data-tooltip="Step 1">Step 1</a>
							</li>
							<li class="step-item">
							    <a href="#step2" class="tooltip" data-tooltip="Step 2">Step 2</a>
							</li>
							<li class="step-item">
							    <a href="#step3" class="tooltip" data-tooltip="Step 3">Step 3</a>
							</li>
							<li class="step-item">
							    <a href="#step4" class="tooltip" data-tooltip="Step 4">Step 4</a>
							</li>
						</ul>
                	</div>
                	<div id="exchange_step" class="container" style="height:85vh; overflow-y:scroll">
                		<div id="step1" class="each_exchange_step columns">
                        	<h2 class="step_title">
                                 {{ if $.En }}Choose your tree!!!{{ else }}選擇你的樹{{end}}
                            </h2>
                            <!-- <h4 class="step_subtitle"></h4> -->

                            {{ range $idx, $it := .MyTrees }}
<div class="card column col-3 my_tree_card" data-tree_id="{{ $it.Treeid }}">
    <div class="card-image">
        {{ $it.Svg }}
    </div>
    <div class="card-header" data-tree_id="{{ $it.Treeid }}">
        <div class="card-title h5">
        {{ if $.Page.En }}{{ $it.Name }}{{ else }}{{ $it.Cname }}{{ end }}
        </div>
        <a href="#step2" class="btn btn-link exchange_button float-right new_exchange_mytree_button"  >
        {{ if $.Page.En }}Choose{{ else }}選擇{{end}}
    	</a>
    </div>

</div>
						  {{ end }}
						
	                	</div>
	                	<div id="step2" class="each_exchange_step">
                            <h2 class="step_title">
                                 {{ if $.Page.En }}Choose the skill you have!!!{{ else }}選擇你想交換的技能{{end}}
                            </h2>
                            <h4 class="step_subtitle"></h4>
                            <div class="select_skill">
                            </div>
	                	</div>
                        <div id="step3" class="each_exchange_step">
                            <h2 class="step_title">
                                 {{ if $.Page.En }}Choose the skill you want!!!{{ else }}選擇你想學習的技能{{end}}
                            </h2>
                            <h4 class="step_subtitle">
                                {{ if $.Page.En }} {{ $.TargetTree.Name }} {{ else }} {{ $.TargetTree.CName }} {{end}}
                                 - {{ $.TargetName }}
                            </h4>
                            <div class="select_skill">
                                {{ $.TargetTree.Svg }}
                            </div>
	                	</div>
                        <div id="step4" class="each_exchange_step">
                            <h2 class="step_title">
                                {{ if $.Page.En }}Confirm your skill-exchange information!!!{{ else }}確認您的技能交換資訊{{end}}
                            </h2>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>{{ if $.Page.En }}Your tree{{ else }}你的樹{{end}}</th>
                                        <th>{{ if $.Page.En }}Your skill{{ else }}你的技能{{end}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <td id="table_mytree"></td>
                                        <td id="table_myskill"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>{{ if $.Page.En }}Exchange user{{ else }}交換的人{{end}}</th>
                                        <th>{{ if $.Page.En }}Exchange tree{{ else }}交換的樹{{end}}</th>
                                        <th>{{ if $.Page.En }}Exchange skill{{ else }}交換的技能{{end}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <td id="table_user"></td>
                                        <td id="table_atree"></td>
                                        <td id="table_askill"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button id="final_exchange_button" class="btn">{{ if $.Page.En }}Exchange!{{ else }}交換！{{end}}</button>
	                	</div>
                	</div>



				</main>
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>

<script>

    //全域變數
    var new_exchange_data = {};

    $(document).ready(function(){
        // set_tree_id();
        // set_scroll_animate();
        set_step_active();
        set_selected_exchange_data();
        set_send_exchange_message();

        // $(".exchange_button").on("click", function(){
        //     tree_id = $(this).parent().attr("data-tree_id");
        //     console.log(tree_id);
        //     tree_chosen = tree_id;
        //
        // });
    });

    function set_scroll_animate() {

        //set scroll animate
        $(".step-item a, .each_exchange_step a").on('click', function(event){
            event.preventDefault();

            $('html, body').animate({
                scrollTop:$($.attr(this,'href')).offset().top
            }, 500);
        });
    }

    function set_step_active() {
        $(".step-item").on("click",function(){

            //Active the step item
            $(".step-item").removeClass("active");
            $(this).addClass("active");
        });
    }

    function set_selected_exchange_data() {

        //My tree
        $(".new_exchange_mytree_button").on("click", function(){

            // Add data to new_exchange_data
            // $(".new_exchange_mytree_button").removeClass("selected_new_exchange_mytree");
            // $(this).addClass("selected_new_exchange_mytree");
            new_exchange_data["mytree"] = $(this).parent().attr("data-tree_id");
            new_exchange_data["mytree_name"] = $(this).siblings(".card-title").text();
            $("#table_mytree").text(new_exchange_data["mytree_name"]);

            // Append svg tree to step 2
            // var my_tree_id = $(this).parent().attr("data-tree_id");
            $("#step2 .select_skill").empty();
            $("#step2 .select_skill").append($(this).parent().siblings(".card-image").html());
            $("#step2 h4").append($(this).siblings(".card-title").text());

            //Active the step item
            $(".step-item").removeClass("active");
            $(".step-item").eq(1).addClass("active");

            set_selected_skills();
        });
    }
    function set_selected_skills() {

        //My skill
        $("#step2 svg circle").on("click", function(){

            $(this).addClass("selected_skill");

            // Add data to new_exchange_data
            new_exchange_data["myskill"] = $(this).parent().attr("id");
            $("#table_myskill").text(new_exchange_data["myskill"]);

            //Active the step item
            $(".step-item").removeClass("active");
            $(".step-item").eq(2).addClass("active");
            window.location.href = "#step3";
        });

        //New skill
        $("#step3 svg circle").on("click", function(){

            $(this).addClass("selected_skill");

            // Add data to new_exchange_data
            new_exchange_data["user"] = {{ $.Target }};
            new_exchange_data["atree"] = {{$.TargetTree.Treeid}};
            new_exchange_data["atree_name"] = {{ if $.Page.En}} {{$.TargetTree.Name}} {{ else }} {{$.TargetTree.CName}} {{ end }};
            new_exchange_data["askill"] = $(this).parent().attr("id");
            $("#table_user").text({{ $.TargetName }});
            $("#table_atree").text(new_exchange_data["atree_name"]);
            $("#table_askill").text(new_exchange_data["askill"]);

            //Active the step item
            $(".step-item").removeClass("active");
            $(".step-item").eq(3).addClass("active");
            window.location.href = "#step4";
        });

    }
    function set_send_exchange_message() {

        $("#final_exchange_button").on("click",function(){
            var tmp_user = new_exchange_data["user"];
            var tmp_atree = new_exchange_data["atree"];
            var tmp_askill = new_exchange_data["askill"];
            var tmp_mytree = new_exchange_data["mytree"];
            var tmp_myskill = new_exchange_data["myskill"];
            if (
                typeof(tmp_atree) !== "undefined" &&
                typeof(tmp_askill) !== "undefined" &&
                typeof(tmp_mytree) !== "undefined" &&
                typeof(tmp_myskill) !== "undefined"
            ) {
                fetch('/exchange/new/'+tmp_user+'/'+tmp_atree+'/'+tmp_askill+'/'+tmp_mytree+'/'+tmp_myskill+'/', {
                    method : 'get',
                    credentials : 'include'
                });
                window.location.href = "/exchange/status/";
            }
            else {
                alert({{ if $.Page.En }}"Please make sure you have done steps above."{{ else }}"請確認上面步驟皆已完成"{{end}});
            }
        })
    }


</script>
