<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" "exchange" }}
                <main class="column col-10 col-gapless exchange-main">

                    <div class="accordion">
                        <input type="checkbox" id="table-1" name="accordion-checkbox" hidden checked>
                        <label class="accordion-header c-hand" for="table-1">
                            <h2><i class="icon icon-arrow-right mr-1"></i>Requests</h2>
                        </label>
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tf>
                                        <td>Person</td>
                                        <td>Skill</td>
                                        <td>Status</td>
                                    </tf>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Person 1</td>
                                        <td>Procrastination</td>
                                        <td>Pending</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="checkbox" id="table-2" name="accordion-checkbox" hidden checked>
                        <label class="accordion-header c-hand" for="table-2">
                            <h2><i class="icon icon-arrow-right mr-1"></i>Pending</h2>
                        </label>
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tf>
                                        <td>Person</td>
                                        <td>Skill</td>
                                        <td>Status</td>
                                    </tf>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Person 1</td>
                                        <td>Procrastination</td>
                                        <td>
                                            <button class="btn">Reject</button>
                                            <button class="btn btn-primary">Accept</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="checkbox" id="table-3" name="accordion-checkbox" hidden checked>
                        <label class="accordion-header c-hand" for="table-3">
                            <h2><i class="icon icon-arrow-right mr-1"></i>In Progress</h2>
                        </label>
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tf>
                                        <td>Person</td>
                                        <td>Skill</td>
                                        <td>You</td>
                                        <td>Them</td>
                                    </tf>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Person 1</td>
                                        <td>Procrastination</td>
                                        <td>Incomplete</td>
                                        <td>Complete</td>
                                    </tr>
                                    <tr>
                                        <td>Person 1</td>
                                        <td>Procrastination</td>
                                        <td>Complete</td>
                                        <td>
                                            <button class="btn">Cancel</button>
                                            <button class="btn btn-primary">Mark Complete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="checkbox" id="table-4" name="accordion-checkbox" hidden checked>
                        <label class="accordion-header c-hand" for="table-4">
                            <h2><i class="icon icon-arrow-right mr-1"></i>Completed</h2>
                        </label>
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tf>
                                        <td>Person</td>
                                        <td>Skill</td>
                                        <td>Status</td>
                                    </tf>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Person 1</td>
                                        <td>Procrastination</td>
                                        <td>Complete</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="checkbox" id="table-5" name="accordion-checkbox" hidden checked>
                        <label class="accordion-header c-hand" for="table-5">
                            <h2><i class="icon icon-arrow-right mr-1"></i>Empty table</h2>
                        </label>
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tf>
                                        <td>Person</td>
                                        <td>Skill</td>
                                        <td>Status</td>
                                    </tf>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3">
                                            <div class="empty">
                                                <p class="empty-title">
                                                    Nothing here, Get working!
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
