<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                {{ if not .Items }}
                <main class="column col-10 col-gapless empty">
                    <p class="empty-title h5">
                        Hmm, we can't find any trees
                    </p>
                    <p class="empty-subtitle">
                        Maybe check back later?
                    </p>
                </main>
                {{ else }}
                <main id="skill_exchange_section" class="column col-10 col-gapless exchange-main right_main_section">
                    <div class="container">
                        <!-- <div class="columns"> -->
                        <!--     <div class="column col-12"> -->
                        <!--         <input class="form-input" type="text" id="input-example-1" placeholder="Name"> -->
                        <!--     </div> -->
                        <!-- </div> -->
                        <div class="columns">
                            {{ range $idx, $it := .Items }}

<div class="card column col-3" data-user_id="{{ $it.User }}" data-tree_id="{{ $it.TreeData.Treeid }}">
    <div class="card-image">
        {{ $it.TreeData.Svg }}

        <!-- {{ $it.TreeData.State }} -->
    </div>
    <div class="card-header" data-user_id="{{ $it.User }}" data-tree_id="{{ $it.TreeData.Treeid }}">
        <span class="like_number">{{ $it.Likes }}</span>

        {{ if $it.Liked }}
        <i class="fa fa-heart liked_tree like_icon" aria-hidden="true"></i>
        {{ else }}
        <i class="fa fa-heart-o unliked_tree like_icon" aria-hidden="true"></i>
        {{ end }}

<!-- redirect to /exchange/new/{{ $it.User }}/{{ $it.TreeData.Treeid }}/ -->
        <!-- <button class="btn btn-link float-right exchange_button">Exchange</button> -->
        <a href="/exchange/new/{{ $it.User }}/{{ $it.TreeData.Treeid }}/" class="btn btn-link float-right exchange_button">
            {{ if $.En }}Exchange{{ else }}交換{{end}}
        </a>
        <a href="#modal_{{ $it.User }}_{{ $it.TreeData.Treeid }}" class="btn btn-primary">Open large size Modal</a>
        <div class="card-title h5">
        {{ if $.Page.En }}{{ $it.TreeData.Name }}{{ else }}{{ $it.TreeData.Cname }}{{ end }}
        </div>
        <div class="card-subtitle text-gray">{{ $it.Name }}</div>
    </div>
    <div class="modal" id="modal_{{ $it.User }}_{{ $it.TreeData.Treeid }}">
        <a href="#skill_exchange_section" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#skill_exchange_section" class="btn btn-clear float-right" aria-label="Close"></a>
                <!-- <div  class="btn btn-clear float-right modal_close" aria-label="Close"></div> -->
                <div class="modal-title h5">
                    {{ if $.Page.En }}{{ $it.TreeData.Name }}{{ else }}{{ $it.TreeData.Cname }}{{ end }}
                    {{ $it.Name }}
                </div>
            </div>
            <div class="modal-body">
                <div class="content">
                    {{ $it.TreeData.Svg }}
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

                            {{ end }}
                        </div>
                    </div>
                </main>
                {{ end }}
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>

<script>

    $(document).ready(function(){
        set_tree_id();
        set_resize_tree();
        setup_like();
    });

    function set_tree_id() {
        $(".card").each(function(){
            var id = $(this).attr("data-user_id") + "_" + $(this).attr("data-tree_id");
            $(this).children(".card-image").find("svg").attr("id","card_"+id);
            // $(this).children(".modal").find("svg").attr("id","modal_"+id);
        });
    }
    function set_resize_tree() {
        // $(".card").on("click",function(){
        //     $(this).children(".modal").addClass("active");
        // });
        // $(".modal_close").on("click",function(){
        //     // var temp_id = $(this).parents().find(".card").attr("data-user_id") + "_" + $(this).parents().find(".card").attr("data-tree_id");
        //     // console.log("#modal_"+temp_id);
        //     console.log($(this));
        //     $(".modal").removeClass("active");
        // });
    }
    function setup_like(){
        $(".like_icon").on("click",function(){
            var user = $(this).parent().attr("data-user_id");
            var tree_id = $(this).parent().attr("data-tree_id");

            if ($(this).hasClass("liked_tree")) {
                $(this).removeClass("liked_tree");
                $(this).addClass("unliked_tree");

                $(this).removeClass("fa-heart");
                $(this).addClass("fa-heart-o");
                $(this).siblings(".like_number").text(parseInt($(this).siblings(".like_number").text())-1);
                update_likes_count(0,user,tree_id);
            }
            else{
                $(this).removeClass("unliked_tree");
                $(this).addClass("liked_tree");

                $(this).removeClass("fa-heart-o");
                $(this).addClass("fa-heart");
                $(this).siblings(".like_number").text(parseInt($(this).siblings(".like_number").text())+1);
                update_likes_count(1,user,tree_id);
            }
        });
    }

    function update_likes_count(add_num,user,tree_id){

        fetch('/exchange/like/'+user+'/'+tree_id+'/'+add_num+'/', {
            method : 'get',
            credentials : "include"
        });
    }


</script>
