<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
    	<div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                <main class="column col-10 col-gapless">
                	<div style="height:20vh">
                		<ul class="step" style="padding-top:40px">
							<li class="step-item active">
							    <a href="#" class="tooltip" data-tooltip="Step 1">Step 1</a>
							</li>
							<li class="step-item">
							    <a href="#" class="tooltip" data-tooltip="Step 2">Step 2</a>
							</li>
							<li class="step-item">
							    <a href="#" class="tooltip" data-tooltip="Step 3">Step 3</a>
							</li>
							<li class="step-item">
							    <a href="#" class="tooltip" data-tooltip="Step 4">Step 4</a>
							</li>
						</ul>
                	</div>
                	<div style="height:80vh;background-color:yellow">
                	{{ range $idx, $it := .MyTrees }}
                	{{ $it.Name }}
<div class="card column col-3" data-user_id="{{ $it.User }}" data-tree_id="{{ $it.TreeData.Treeid }}" data-state="{{ $it.TreeData.State }}" >
    <div class="card-image">
        {{ $it.TreeData.Svg }}       
    </div>
    <div class="card-header" data-user_id="{{ $it.User }}" data-tree_id="{{ $it.TreeData.Treeid }}">
        <div class="card-title h5">
        {{ if $.Page.En }}{{ $it.TreeData.Name }}{{ else }}{{ $it.TreeData.Cname }}{{ end }}
        </div>
        <div class="card-subtitle text-gray">{{ $it.Name }}</div>
    </div>
</div>	
					{{ end }}
                	</div>
	                
				</main>
            </div>
        </div>
    </body>
</html>