<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/landing.css">
    <script>
        function switchSpinner() {
            document.querySelector('.login-spinner').style.display= "block";
            document.querySelector('.fb-login-button').style.display= "none";
        }
        </script>
    </head>
    <body>
        <header class="navbar">
            <section class="navbar-section navbar_left">
                <a href="#" class="navbar-brand mr-2 nav_text">SKILL TREE</a>

            </section>
            <section class="navbar-section navbar_right">
                <div class="input-group input-inline">
                    <a href="#skill_tree" class="btn btn-link nav_text">Skill Tree</a>
                    <a href="#skill_exchange" class="btn btn-link nav_text">Skill Exchange</a>
                    <a href="#our_team" class="btn btn-link nav_text">Our Team</a>
                    <!-- <a href="#contact_us" class="btn btn-link">Contact Us</a> -->
                </div>
            </section>
        </header>
        <section class="hero main_section">
            <div class="container">
                <div class="columns hero-pad-top"></div>
                <div class="columns">
                    <h1 class="column col-4 col-mx-auto">SkillTree</h1>
                </div>
                <div class="columns">
                    {{ if .En }}
                    <h2 class="column col-4 col-mx-auto">Here goes a tagline</h2>
                    {{ else  }}
                    <h2 class="column col-4 col-mx-auto">Here goes a tagline in Chinese</h2>
                    {{ end }}
                </div>
                <div class="columns">
                    <div class="column col-2 col-mx-auto fb-login-container">
                        <!-- show on initial page load -->
                        <!-- hide on statusChangeCallback -->
                        <!-- show on login attempt -->
                        <!-- hide on statusChangeCallback -->
                        <div class="loading loading-lg login-spinner"></div>

                        <!-- hide on initial page load -->
                        <!-- show on statusChangeCallback fail-->
                        <!-- hide on login attempt -->
                        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email,user_friends" onlogin="checkLoginState();" onclick="switchSpinner();"></div>

                        <!-- hide on initial page load -->
                        <!-- show on statusChangeCallback success-->
                        <a class="login-continue" href="/tree">
                            <button class="btn btn-primary btn-lg continue-btn">Continue to App</button>
                        </a>

                    </div>
                </div>
            </div>
        </section>
        <section id="skill_tree" class="showcase main_section">
            <!-- example tree -->
            <div class="container">
                <div class="columns banner">
                    <h2 class="column col-4">Grow your own tree</h2>
                    <div class="column col-4 col-mr-auto">
                        <ul>
                            <li>This is a short description of something. I don't know, just something.</li>
                            <li>This is a short description of something. I don't know, just something.</li>
                            <li>This is a short description of something. I don't know, just something.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="skill_exchange" class="exchange main_section">
            <!-- exchange? -->
            <div class="container">
                <div class="columns banner">
                    <div class="column col-4 col-ml-auto">
                        <ul>
                            <li>This is a short description of something. I don't know, just something.</li>
                            <li>This is a short description of something. I don't know, just something.</li>
                            <li>This is a short description of something. I don't know, just something.</li>
                        </ul>
                    </div>
                    <h2 class="column col-4">Something...Exchange</h2>
                </div>
            </div>
        </section>
        <section id="our_team" class="team main_section">
            <!-- meet the team -->
            <div class="container">
                <div class="columns banner">
                    <!-- <div class="column col-4 col-ml-auto"> -->
                    <!--     <ul> -->
                    <!--         <li>This is a short description of something. I don't know, just something.</li> -->
                    <!--         <li>This is a short description of something. I don't know, just something.</li> -->
                    <!--         <li>This is a short description of something. I don't know, just something.</li> -->
                    <!--     </ul> -->
                    <!-- </div> -->
                    <h2 class="column col-4">Meet the Team</h2>
                </div>
                <div class="columns">
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="https://lh3.googleusercontent.com/AkTbUA_l8OICZ7xKGMY3-w0_kgCIRz_yEXMOYgHokTR9P_vszUvdp4udMP_o4VaCDkg=w300">
                        </figure>
                        <h4 class="name">A person</h4>
                        <p class="job">I do something</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="https://lh3.googleusercontent.com/AkTbUA_l8OICZ7xKGMY3-w0_kgCIRz_yEXMOYgHokTR9P_vszUvdp4udMP_o4VaCDkg=w300">
                        </figure>
                        <h4 class="name">A person</h4>
                        <p class="job">I do something</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="https://lh3.googleusercontent.com/AkTbUA_l8OICZ7xKGMY3-w0_kgCIRz_yEXMOYgHokTR9P_vszUvdp4udMP_o4VaCDkg=w300">
                        </figure>
                        <h4 class="name">A person</h4>
                        <p class="job">I do something</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="https://lh3.googleusercontent.com/AkTbUA_l8OICZ7xKGMY3-w0_kgCIRz_yEXMOYgHokTR9P_vszUvdp4udMP_o4VaCDkg=w300">
                        </figure>
                        <h4 class="name">A person</h4>
                        <p class="job">I do something</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="https://lh3.googleusercontent.com/AkTbUA_l8OICZ7xKGMY3-w0_kgCIRz_yEXMOYgHokTR9P_vszUvdp4udMP_o4VaCDkg=w300">
                        </figure>
                        <h4 class="name">A person</h4>
                        <p class="job">I do something</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="https://lh3.googleusercontent.com/AkTbUA_l8OICZ7xKGMY3-w0_kgCIRz_yEXMOYgHokTR9P_vszUvdp4udMP_o4VaCDkg=w300">
                        </figure>
                        <h4 class="name">A person</h4>
                        <p class="job">I do something</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="container">
            <div class="columns">
                <h2 class="column col-4">SkillTree</h2>
            </div>
            <div class="columns">
                <div class="column col-2"></div>
                <div class="column col-4">
                    <ul>
                        <li>
                            <a href="#" onclick="languageSwitch();">{{ if .En }}Switch to Chinese{{ else }}Switch to English{{ end }}</a>
                        </li>
                        <li>A List item</li>
                        <li>A List item</li>
                        <li>A List item</li>
                    </ul>
                </div>
                <div class="column col-4">
                    <ul>
                        <li>A List item</li>
                        <li>A List item</li>
                        <li>A List item</li>
                    </ul>
                </div>
            </div>
        </footer>
        {{ template "footer" }}
    </body>
</html>
