<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/landing.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
        function switchSpinner() {
            document.querySelector('.login-spinner').style.display= "block";
            document.querySelector('.fb-login-button').style.display= "none";
        }

		$(document).ready(function(){
            set_navbar();
		});
        function set_navbar() {

            // set color
            var skill_tree_top = $("#skill_tree").offset().top;
            var skill_exchange_top = $("#skill_exchange").offset().top;
            var team_top = $("#our_team").offset().top;

            $(window).scroll(function(){
                if ($(window).scrollTop() >= skill_tree_top && $(window).scrollTop() < skill_exchange_top) {
                    // $("#brand_text").addClass("black_text");
                    $(".nav_link_text").removeClass("black_text");
                    $("#logo_white").css("display","none");
                    $("#logo_black").css("display","block");
                }
                else if ($(window).scrollTop() >= skill_exchange_top && $(window).scrollTop() < team_top){
                    // $("#brand_text").removeClass("black_text");
                    $(".nav_link_text").addClass("black_text");
                    $("#logo_white").css("display","block");
                    $("#logo_black").css("display","none");
                }
                else if ($(window).scrollTop() >= team_top){
                    // $("#brand_text").addClass("black_text");
                    $(".nav_link_text").addClass("black_text");
                    $("#logo_white").css("display","none");
                    $("#logo_black").css("display","block");
                }
                else{
                    $("#brand_text").removeClass("black_text");
                    $(".nav_link_text").removeClass("black_text");
                    $("#logo_white").css("display","block");
                    $("#logo_black").css("display","none");
                }
            });

            //set scroll animate
            $(".nav_text, .footer_text").on('click', function(event){
				event.preventDefault();

				$('html, body').animate({
					scrollTop:$($.attr(this,'href')).offset().top
				}, 500);
			});
        }
        </script>
    </head>
    <body>
        <header class="navbar">
            <section class="navbar-section navbar_left">
                <!-- <a href="#main" id="brand_text" class="navbar-brand mr-2 nav_text">SKILL TREE</a> -->
                <a href="#main" id="brand_text" class="navbar-brand mr-2 nav_text">
                    <img src="/static/image/logo_text_white.png" id="logo_white" style="display: block;"></img>
                    <img src="/static/image/logo_text_black.png" id="logo_black" style="display: none;"></img>
                </a>
            </section>
            <section class="navbar-section navbar_right">
                <div class="input-group input-inline">
                    <a href="#skill_tree" class="btn btn-link nav_text nav_link_text">{{ if $.En }} Skill Tree {{else}} 技能樹 {{end}}</a>
                    <a href="#skill_exchange" class="btn btn-link nav_text nav_link_text">{{ if $.En }} Skill Exchange {{else}} 技能交換 {{end}} </a>
                    <a href="#our_team" class="btn btn-link nav_text nav_link_text">{{ if $.En }} Our Team {{else}} 我們的團隊 {{end}} </a>
                    <a href="#" onclick="languageSwitch();" class="btn btn-link nav_text nav_link_text">{{ if .En }}中文版{{ else }}English{{ end }}</a>
                    <!-- <a href="#contact_us" class="btn btn-link">Contact Us</a> -->
                </div>
            </section>
        </header>
        <section id="main" class="hero main_section">
            <div class="container">
                <div class="columns hero-pad-top"></div>
                <div class="columns">
                    <h1 class="column col-4 col-mx-auto">SkillTree</h1>
                </div>
               <!--  <div class="columns">
                    {{ if $.En }}
                    <h2 class="column col-4 col-mx-auto">Here goes a tagline</h2>
                    {{ else  }}
                    <h2 class="column col-4 col-mx-auto">Here goes a tagline in Chinese</h2>
                    {{ end }}
                </div> -->
                <div class="columns">
                    <div class="column col-2 col-mx-auto fb-login-container">
                        <!-- show on initial page load -->
                        <!-- hide on statusChangeCallback -->
                        <!-- show on login attempt -->
                        <!-- hide on statusChangeCallback -->
                        <div class="loading loading-lg login-spinner"></div>

                        <!-- hide on initial page load -->
                        <!-- show on statusChangeCallback fail-->
                        <!-- hide on login attempt -->
                        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email,user_friends" onlogin="checkLoginState();" onclick="switchSpinner();"></div>

                        <!-- hide on initial page load -->
                        <!-- show on statusChangeCallback success-->
                        <a class="login-continue" href="/tree/">
                            <button class="btn btn-primary btn-lg continue-btn continue_button">{{ if $.En }}Continue to App {{ else }} 前往技能樹 {{ end }} </button>
                        </a>

                    </div>
                </div>
            </div>
        </section>
        <section id="skill_tree" class="showcase main_section">
            <!-- example tree -->
            <div class="container">
                <div class="columns banner">
                    <div class="column col-4 inner_banner">
                        <h2 class="column col-12">{{ if $.En }}What is Skill Tree? {{ else }}關於技能樹  {{end}} </h2>
                        <!-- <div class="column col-12 col-mr-auto"> -->
                        <div class="column col-12">
                            <ul>
                                <li>{{ if $.En }}Transfer all the courses of each department to a RPG skill tree {{ else }}將大學四年的課程畫成一棵RPG職業技能樹 {{ end }} </li>
                                <li>{{ if $.En }}With the personal "skill tree", users can easily run through all the courses, and get a big picture of the course map that he or she has explored {{ else }}透過個人的「技能樹」，使用者能看見各系所的課程脈絡，並完善自己的修課記錄 {{ end }} </li>
                                <li>{{ if $.En }}Users can not only view their own learning progress, understand the relationship between courses, but also see how each course can be linked to a future career path  {{ else }}檢視自我學習進度，了解所學之課程間的關聯，並與未來職業做連結 {{ end }} </li>
                                <li>{{ if $.En }}Provide a "Skill Exchange" platform where users can share their own experiences with others {{ else }}提供學生與學生間的「技能交換」平台，利用互相交流來增進彼此的能力 {{ end }} </li>
                            </ul>
                        </div>
                        <!-- <div class="column col-4 col-mr-auto">
                            <ul>
                                <li>{{ if $.En }}Users can not only view their own learning progress, understand the relationship between courses, but also see how each course can be linked to a future career path  {{ else }}檢視自我學習進度，了解所學之課程間的關聯，並與未來職業做連結 {{ end }} </li>
                                <li>{{ if $.En }}Provide a "Skill Exchange" platform where users can share their own experiences with others {{ else }}提供學生與學生間的「技能交換」平台，利用互相交流來增進彼此的能力 {{ end }} </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="skill_exchange" class="exchange main_section">
            <!-- exchange? -->
            <div class="container">
                <div class="columns banner">
                    <div class="column col-4 col-ml-auto inner_banner">
                        <h2 class="column col-12">{{ if $.En }}How do I get a Skill Echange? {{ else }}該如何與他人技能交換？ {{ end }}</h2>
                        <!-- <div class="column col-12 col-ml-auto"> -->
                        <div class="column col-12">
                            <ul>
                                <li>{{ if $.En }}Take a look at others trees and send skill exchange invitations {{ else }}檢視他人的技能樹，並送出交換邀請 {{ end }} </li>
                                <li>{{ if $.En }}Use your own skills to exchange with others skills {{ else }}利用自己擅長的領域與對方進行學習上的交流 {{ end }} </li>
                                <li>{{ if $.En }}Set milestones for each other and get a mutually certification {{ else }}為對方設立學習進度，最終完成彼此認證 {{ end }} </li>
                            </ul>
                        </div>
                    <!-- <h2 class="column col-4">{{ if $.En }}How do I get a Skill Echange? {{ else }}該如何與他人技能交換？ {{ end }}</h2> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="our_team" class="team main_section">
            <!-- meet the team -->
            <div class="container">
                <div class="columns banner">
                    <!-- <div class="column col-4 col-ml-auto"> -->
                    <!--     <ul> -->
                    <!--         <li>This is a short description of something. I don't know, just something.</li> -->
                    <!--         <li>This is a short description of something. I don't know, just something.</li> -->
                    <!--         <li>This is a short description of something. I don't know, just something.</li> -->
                    <!--     </ul> -->
                    <!-- </div> -->
                    <h2 class="column col-4">Meet the Team</h2>
                </div>
                <div class="columns">
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="/static/image/team/Kersee.jpg">
                        </figure>
                        <h4 class="name">{{ if $.En }} Kersee Huang {{ else }} 黃楷翔 {{end}}</h4>
                        <p class="job">B03705001</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="/static/image/team/Victor.jpg">
                        </figure>
                        <h4 class="name">{{ if $.En }} Victor Lee {{ else }} 李羽浩 {{end}}</h4>
                        <p class="job">B03705011</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="/static/image/team/Jenny.jpg">
                        </figure>
                        <h4 class="name">{{ if $.En }} Jenny Hung {{ else }} 洪念綺 {{end}}</h4>
                        <p class="job">B03705031</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="/static/image/team/Kelly.jpg">
                        </figure>
                        <h4 class="name">{{ if $.En }} Kelly Hsieh {{ else }} 謝惠羽 {{end}}</h4>
                        <p class="job">B03705035</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="/static/image/team/Sean.jpg">
                        </figure>
                        <h4 class="name">{{ if $.En }} Sean Liao {{ else }} 廖寬璿 {{end}}</h4>
                        <p class="job">B03705049</p>
                    </div>
                    <div class="column col-4 person">
                        <figure class="avatar avatar-xxl">
                            <img src="/static/image/team/Clawdi.jpg">
                        </figure>
                        <h4 class="name">{{ if $.En }} Toto Ong {{ else }} 翁子衿 {{end}}</h4>
                        <p class="job">B02204039</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="container">
            <div class="columns">
                <!-- <h2 class="column col-5">SkillTree</h2> -->
                <img src="/static/image/logo_text_white.png" class="column col-5" style="margin: 0px auto;"></img>
                <div class="column col-2">
                    <h5 class="footer_title">{{ if $.En }} Sitemap {{else}} 網站導覽 {{end}}</h5>
                    <ul>
                        <li><a href="#skill_tree" class="footer_text" style="font-weight:lighter">{{ if $.En }} Skill Tree {{else}} 技能樹 {{end}}</a></li>
                        <li><a href="#skill_exchange" class="footer_text" style="font-weight:lighter">{{ if $.En }} Skill Exchange {{else}} 技能交換 {{end}} </a></li>
                        <li><a href="#our_team" class="footer_text" style="font-weight:lighter">{{ if $.En }} Our Team {{else}} 我們的團隊 {{end}} </a></li>
                        <li><a href="#" onclick="languageSwitch();" class="footer_text" style="font-weight:lighter">{{ if .En }}中文版{{ else }}English{{ end }}</a></li>
                    </ul>
                </div>
                <div class="column col-5">
                    <h5 class="footer_title">{{ if $.En }} Contact Us {{else}} 聯絡我們 {{end}}</h5>
                    <ul>
                        <li class="footer_contact" style="font-weight:lighter">service@skilltree.com</li>
                        <li class="footer_contact" style="font-weight:lighter">www.facebook.com/skilltree </li>
                        <li class="footer_contact" style="font-weight:lighter">twitter.com/skilltree </li>
                        <li class="footer_contact" style="font-weight:lighter">{{ if .En }}No.1, Sec. 4, Roosevelt Rd., Da’an Dist., Taipei City 106, Taiwan (R.O.C.){{ else }}台北市大安區羅斯福路四段一號{{ end }}</li>
                    </ul>
                </div>
            </div>
        </footer>
        {{ template "footer" }}
    </body>
</html>
