<!-- Pass in $.Page -->
{{ define "sidebar" }}
<nav class="column col-2 col-gapless sidebar bg-dark text-light">
    <ul class="menu bg-dark text-light">

        <li class="menu-item">
            <a id="sidebar_brand_text" href="/">
                <!-- SKILL TREE -->
                <img src="/static/image/logo_text_white.png" id="logo_white" style="display: block; margin: 0px auto;"></img>
            </a>
        </li>

        <li class="divider"></li>

        <div class="accordion">
            <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden checked>
            <label class="accordion-header c-hand toplevel" for="accordion-1">
                <i class="icon icon-arrow-right mr-1"></i>
                {{ if $.En }}My Skill Trees{{ else }}你的技能樹{{ end }}
            </label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    <li class="menu-item menu_subitem">
                        <a class="{{ if eq $.Page2 "" }}active{{ end }}" href="/tree/"><strong>{{ if $.En }}All My Tree{{ else }}所有的樹{{ end }}</strong></a>
                    </li>
                {{ range $idx, $tree := .Sidebar }}
                    <li class="menu-item menu_subitem">
                        <a class="{{ if eq $.Page2 $tree.Treeid }}active{{ end }}" href="/tree/{{ $tree.Treeid }}/">{{ if $.En }}{{ $tree.Name }}{{ else }}{{ $tree.Cname }}{{ end }}</a>
                    </li>
                {{ end }}
                    <li class="menu-item menu_subitem">
                        <a class="{{ if eq $.Page2 "new" }}active{{ end }}" href="/tree/new/">{{ if $.En }}＋Add a New Tree{{ else }}＋新增技能樹{{ end }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="accordion-2" name="accordion-checkbox" hidden checked>
            <label class="accordion-header c-hand toplevel" for="accordion-2">
                <i class="icon icon-arrow-right mr-1"></i>
                {{ if $.En }}
                Skill Exchange
                {{ else }}
                技能交換
                {{ end }}
            </label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    <li class="menu-item menu_subitem">
                        <a class="{{ if eq $.Page2 "status"}}active{{ end }}" href="/exchange/status/">{{ if $.En }}Status{{ else }}交換狀態{{ end }}</a>
                    </li>
                    <li class="menu-item menu_subitem">
                        <a class="{{ if eq $.Page2 "browse"}}active{{ end }}" href="/exchange/browse/">{{ if $.En }}Browse{{ else }}瀏覽他人{{ end }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <li class="divider subdivider"></li>

        <li class="menu-item toplevel">
            <a class="{{ if eq $.Page "account"}}active{{ end }}" href="/account/">{{ if $.En }}Account{{ else }}帳戶{{ end }}</a>
        </li>

        <li class="menu-item toplevel">
            <a href="#" onclick="logout();">{{ if $.En }}Logout{{ else }}登出{{ end }}</a>
        </li>

        <li class="divider subdivider"></li>

        <li class="menu-item toplevel">
            <a href="#" onclick="languageSwitch();">{{ if $.En }}中文版{{ else }}English Version{{ end }}</a>
        </li>

    </ul>
    <div class="menu-item" id="logo_image_div">
        <img src="/static/image/logo_all_white.png" class="logo_image"></img>
    </div>
</nav>
{{ end }}
