<!-- Pass in $.Page -->
{{ define "sidebar" }}
<nav class="column col-2 col-gapless sidebar bg-dark text-light">
    <ul class="menu bg-dark text-light">

        <li class="menu-item">
            <h1>SkillTree</h1>
        </li>

        <li class="divider"></li>

        <div class="accordion" {{ if eq $.Page "tree" }}open{{ end }}>
            <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
            <label class="accordion-header c-hand toplevel" for="accordion-1">
                <i class="icon icon-arrow-right mr-1"></i>
                {{ if .En }}Your Trees{{ else }}Chinese{{ end }}
            </label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                {{ range $idx, $tree := .Sidebar }}
                    <li class="menu-item">
                        <a class="{{ if eq $.Page2 $tree.Treeid }}active{{ end }}" href="/tree/{{ $tree.Treeid }}/">{{ if $.En }}{{ $tree.Name }}{{ else }}{{ $tree.Cname }}{{ end }}</a>
                    </li>
                {{ end }}
                    <li class="menu-item">
                        <a class="{{ if eq $.Page2 "new" }}active{{ end }}" href="/tree/new/">{{ if $.En }}Add New Tree{{ else }}Chinese{{ end }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="accordion" {{ if eq $.Page "exchange" }}open{{ end }}>
            <input type="checkbox" id="accordion-2" name="accordion-checkbox" hidden>
            <label class="accordion-header c-hand toplevel" for="accordion-2">
                <i class="icon icon-arrow-right mr-1"></i>
                Exchange
            </label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    <li class="menu-item">
                        <a class="{{ if eq $.Page2 "status"}}active{{ end }}" href="/exchange/status/">{{ if .En }}Status{{ else }}Chinese{{ end }}</a>
                    </li>
                    <li class="menu-item">
                        <a class="{{ if eq $.Page2 "browse"}}active{{ end }}" href="/exchange/browse/">{{ if .En }}Browse{{ else }}Chinese{{ end }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <li class="menu-item toplevel">
            <a class="{{ if eq $.Page "account"}}active{{ end }}" href="/account/">{{ if .En }}Account{{ else }}Chinese{{ end }}</a>
        </li>

        <li class="menu-item toplevel">
            <a href="#" onclick="languageSwitch();">{{ if .En }}Switch to Chinese{{ else }}Switch to English{{ end }}</a>
        </li>

        <li class="menu-item toplevel">
            <a href="#" onclick="logout();">{{ if .En }}Logout{{ else }}Chinese{{ end }}</a>
        </li>

    </ul>
</nav>
{{ end }}
