<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
    	<div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                <main class="column col-10 col-gapless">

                	<div id="all_tree" >

                    	<h2 class="step_title">
                             {{ if $.En }}All My Trees!{{ else }}所有的樹{{end}}
                        </h2>

                        {{ range $idx, $it := .Trees }}
<div class="card column col-3 my_tree_card" data-tree_id="{{ $it.Treeid }}">
    <div class="card-image">
        {{ $it.Svg }}
    </div>
    <div class="card-header" data-tree_id="{{ $it.Treeid }}">
        <div class="card-title h5">
        {{ if $.Page.En }}{{ $it.Name }}{{ else }}{{ $it.Cname }}{{ end }}
        </div>

        <span class="like_number">{{ $it.Likes }}</span>
        {{ if eq $it.Likes 0 }}
        <i class="fa fa-heart-o unliked_tree like_icon" aria-hidden="true"></i>
        {{ else }}
        <i class="fa fa-heart liked_tree like_icon" aria-hidden="true"></i>
        {{ end }}

        <a href="/tree/{{ $it.Treeid }}/" class="btn btn-link float-right check_button"  >
        {{ if $.Page.En }}Check{{ else }}查看{{end}}
    	</a>
    </div>

</div>
                        {{ end }}

                	</div>

				</main>
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>

<script>

    $(document).ready(function(){
        // set_tree_id();
        // set_scroll_animate();
    });

    function set_scroll_animate() {

        //set scroll animate
        $(".step-item a, .each_exchange_step a").on('click', function(event){
            event.preventDefault();

            $('html, body').animate({
                scrollTop:$($.attr(this,'href')).offset().top
            }, 500);
        });
    }

</script>
