<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" "tree" }}
                <main class="column col-10 col-gapless empty">
                    <p class="empty-title h5">
                        You have not started any trees
                    </p>
                    <p class="empty-subtitle">
                        Click the button below to start growing your tree
                    </p>
                    <div class="empty-action">
                        <button class="btn btn-primary">Grow a Tree</button>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
