<!doctype html>
<html lang="en">
    <head>
        <title>SkillTree</title>
        {{ template "header" }}
        <!-- custom css -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                {{ template "sidebar" .Page }}
                {{ if not .Trees }}
                <main class="column col-10 col-gapless empty">
                    <p class="empty-title h5">
                        Hmm, we can't find any trees
                    </p>
                    <p class="empty-subtitle">
                        Maybe check back later?
                    </p>
                </main>
                {{ else }}
                <main class="column col-10 col-gapless right_main_section">
                    <div class="container">
                        <!-- <div class="columns"> -->
                        <!--     <div class="column col-12"> -->
                        <!--         <input class="form-input" type="text" id="input-example-1" placeholder="Name"> -->
                        <!--     </div> -->
                        <!-- </div> -->
                        <div class="columns">
                            {{ range $idx, $tree := .Trees }}
                                {{ if not eq $tree.Treeid "tree01" }}

<div class="card column col-4">
    <div class="card-image">
        {{ $tree.Svg }}
    </div>
    <div class="card-header">
        <div class="card-title h5">
            {{ $tree.Name }}
            {{ $tree.Cname }}
        </div>
    </div>
    <div class="card-body">
        {{ $tree.Desc }}
    </div>
    <div class="card-footer">
        <a href="/tree/new/{{ $tree.Treeid }}/">
            <button class="btn btn-primary float-right">Add</button>
        </a>
    </div>
</div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </main>
                {{ end }}
            </div>
        </div>
        {{ template "footer" }}
    </body>
</html>
