{{ define "tree-card" }}
<div class="card column col-4">
    <div class="card-image">
        <img src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/4p/mt/p04pmtxf.jpg" class="img-responsive img-fit-cover">
    </div>
    <div class="card-header">
        <div class="card-title h5">Name of Tree</div>
    </div>
    <div class="card-body">
        Tree description goes here
    </div>
    <div class="card-footer">
        <button class="btn btn-primary float-right">Add</button>
    </div>
</div>
{{ end }}
